.fl {
    @media (min-width:0) {grid-template-columns: repeat(2, 1fr); gap: 15px;}
    @media (min-width:640px) {grid-template-columns: repeat(3, 1fr); gap: 15px;}
    @media (min-width:1000px) {grid-template-columns: repeat(4, 1fr); gap: 30px;}
    @media (min-width:1600px) {grid-template-columns: repeat(5, 1fr); gap: 30px;}
    display: grid; user-select: none;
}

// описываем вне других контейнеров, чтобы описать в том числе и передвигаемую копию
.fl-item { 
    border: 1px var(--color-grey4) solid; user-select: none; padding-bottom: 100%; position: relative; background-color: white; 
    .fli-content {
        position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: flex; justify-content: center; align-items: center; pointer-events: none;
        .fli-component {
            width: 100%; height: 100%; overflow: hidden; display: flex; justify-content: center; align-items: center;
            img, video {max-width: 100%; max-height: 100%;}
        }
    }
    &.add {
        .fli-content {
            pointer-events: all; cursor: pointer; transition: 0.3s;
            &:hover {background-color: var(--color-highlight1);}
            &.active {background-color: var(--color-violet-medium);}
            span {pointer-events: none;}
            span::before {font-family: "fa-regular"; content: "\f093"; font-size: 30px; color: var(--color-grey4);} 
        }
    }
    // панель кнопок должна быть устроена так, чтобы между кнопками не было зазоров, иначе придется отлавливать нажатия на этих зазорах
    .fli-dash {
        position: absolute; right: 5px; top: 5px; display: flex; flex-direction: column; opacity: 0; transition: 0.3s;
        .roundbtn {text-shadow: 1px 1px 1px white;}
    }
    &:hover {.fli-dash {opacity: 1;}}
}
