<div class="page-head">    
    <div class="ph-title">
        <div class="ph-h1">{{thelang.words["articlecats-head"]}} - {{thelang.words['common-edit']}}</div>        
    </div>   
    <div class="ph-dash" *ngIf="ready">
        <div *ngIf="!x.defended" class="ph-btn roundbtn red delete" (click)="delete()" [title]="thelang.words['common-delete']"><span></span></div>  
        <div class="ph-btn roundbtn violet cancel" [routerLink]="homeUrl" [title]="thelang.words['common-cancel']"><span></span></div>
        <div class="ph-btn roundbtn violet save" [class.disabled]="reloading" (click)="update()" [title]="thelang.words['common-save']"><span></span></div>                   
    </div>
    <div class="ph-loader" [class.active]="!ready || reloading"></div> 
</div>

<div class="page-content">
    <form *ngIf="ready" class="data-edit compact" (submit)="update();">
        <div class="de-main">
            <the-articlecat                     
                [x]="x"
                [ll]="ll"   
                [requiredFields]="requiredFields"      
                [errors]="errors"                   
            ></the-articlecat>            
        </div>
        <div class="de-foot">
            <div class="def-left">
                <button *ngIf="!x.defended" type="button" class="danger delete" (click)="delete()"><span>{{thelang.words['common-delete']}}</span></button>
                <button type="button" class="neutral cancel" [routerLink]="homeUrl"><span>{{thelang.words['common-cancel']}}</span></button>
            </div>
            <div class="def-right">
                <button type="submit" class="save" [class.busy]="reloading"><span>{{thelang.words['common-save']}}</span></button>                         
            </div>
        </div>
    </form>
</div>
