<div class="page-head">    
    <div class="ph-title">
        <div class="ph-h1">{{thelang.words["tariffs-head"]}}</div>
        <div class="ph-h2">{{thelang.words["common-length"]}}: {{elementsQuantity}}</div>    
    </div>   
    <div class="ph-dash" *ngIf="ready">
        <div class="ph-btn roundbtn violet create" routerLink="{{homeUrl}}/create" [title]="thelang.words['common-create']"><span></span></div>
        <div class="ph-btn roundbtn red delete" [class.disabled]="!canDeleteBulk" (click)="deleteBulk()" [title]="thelang.words['common-deleteselected']"><span></span></div>        
    </div>
    <div class="ph-loader" [class.active]="!ready || reloading"></div> 
</div>

<div class="list">
    <div class="l-wrap">
        <ng-container *ngIf="ready">
            <div class="l-langs">
                <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
            </div>
            <table>
                <tr class="no-selection">
                    <th class="compact"><check-box [(value)]="allSelected" (valueChange)="onSelectAll()"></check-box></th>                        
                    <th class="compact"><label [class.sorted-forward]="sortBy === 'id' && sortDir === 1" [class.sorted-backward]="sortBy === 'id' && sortDir === -1" (click)="changeSorting('id')">ID</label></th>                
                    <th>{{thelang.words['tariffs-name']}}</th>                
                    <th><label [class.sorted-forward]="sortBy === 'duration' && sortDir === 1" [class.sorted-backward]="sortBy === 'duration' && sortDir === -1" (click)="changeSorting('duration')">{{thelang.words['tariffs-duration']}}</label></th>                
                    <th><label [class.sorted-forward]="sortBy === 'price' && sortDir === 1" [class.sorted-backward]="sortBy === 'price' && sortDir === -1" (click)="changeSorting('price')">{{thelang.words['tariffs-price']}}</label></th>                
                    <th>{{thelang.words['tariffs-active']}}</th>                
                    <th>{{thelang.words['common-actions']}}</th>
                </tr>
                <ng-container *ngIf="xl.length">
                    <tr *ngFor="let x of xl">
                        <td><check-box *ngIf="!x.defended" [(value)]="x.__selected" (valueChange)="onSelect()"></check-box></td>
                        <td>{{x.id}}</td>
                        <td><input type="text" [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).name" (blur)="updateMlParam(x.translation(selectedLang.id), 'name');"></td>    
                        <td>{{x.duration}} {{thelang.words['common-days']}}</td>
                        <td>{{x.price}} USD</td>
                        <td><check-box [(value)]="x.active" (valueChange)="updateParam(x, 'active')"></check-box></td>
                        <td>
                            <div class="l-actions">   
                                <a class="roundbtn edit" [title]="thelang.words['common-edit']" routerLink="{{homeUrl}}/edit/{{x.id}}"><span></span></a>                                 
                                <a class="roundbtn danger delete" [title]="thelang.words['common-delete']" *ngIf="!x.defended" (click)="delete(x.id)"><span></span></a>                                
                            </div>
                        </td>
                    </tr>     
                </ng-container> 
                <ng-container *ngIf="!xl.length">
                    <tr><td>{{thelang.words['common-empty']}}</td></tr>
                </ng-container>                    
            </table> 
        </ng-container>                       
    </div>
    <div class="l-foot"><pagination [n]="pagesQuantity" [(current)]="part" (currentChange)="initList(true)"></pagination></div>    
    <div class="l-loading" [class.active]="reloading"></div>  
</div>
