// columns
.graph-columns {
    .gc-params {
        display: flex; margin-bottom: 15px;
        .gc-param {
            display: flex; align-items: center; 
            .gcp-title {margin-inline-end: 10px;}
            .gcp-value {
                height: 30px;
                .selectwrap {height: 100%;}
            }
        }
    }
    .gc-main {
        @media (min-width:0) {height: 200px;}
        @media (min-width:1000px) {height: 300px;}
        display: flex; flex-direction: column; margin-bottom: 20px;
        .gc-max {text-align: right; font-size: 12px; margin-bottom: 3px;}
        .gc-columns {
            flex: 1; border-bottom: 1px var(--color-grey4) solid; border-top: 1px var(--color-grey4) dashed; display: flex;
            .gcc-item {
                width: calc(100% / 12); height: 100%; position: relative;
                .gcc-title {position: absolute; top: calc(100% + 3px); left: 0; font-size: 10px; }
                .gcc-column {
                    @media (min-width:0) {width: 5px;}
                    @media (min-width:1000px) {width: 15px;}
                    position: absolute; bottom: 0; transition-duration: 0.3s; will-change: height; 
                    .gccc-fill {
                        width: 100%; height: 100%; border-radius: 3px 3px 0 0;
                        &:hover {opacity: 0.8;}
                    }                    
                    &.col1 {left: 0;}
                    &.col2 {
                        @media (min-width:0) {left: 5px;}
                        @media (min-width:1000px) {left: 15px;}                        
                    }
                    &.col3 {
                        @media (min-width:0) {left: 10px;}
                        @media (min-width:1000px) {left: 30px;}
                    }
                }
            }
        }
    }
    .gc-legend {
        display: flex; flex-wrap: wrap;
        .gcl-item {
            margin: 0 10px 5px 0; display: flex; align-items: center;
            .gcl-mark {width: 10px; height: 10px; border-radius: 5px; margin-inline-end: 5px;}
            .gcl-title {font-size: 12px;}
        }
    }
}

// round ("pie")
.graph-round {
    @media (min-width:0) {display: block;}
    @media (min-width:1000px) {display: flex;}
    justify-content: space-between;
    .gr-main {
        @media (min-width:0) {width: 100%; margin: 0 0 15px 0;}
        @media (min-width:1000px) {width: calc(50% - 15px); margin: 0;}         
        .gr-sub {
            padding-bottom: 100%; position: relative;
            .gr-content {
                position: absolute; left: 0; top: 0; width: 100%; height: 100%;
                svg {
                    width: 100%; height: 100%; transform: scale(0) rotate(180deg); transition-duration: 0.5s; 
                    &.active {transform: none;}
                    path {&:hover {opacity: 0.7;}}                                 
                }
            }
            .gr-total {
                position: absolute; z-index: 2; width: 70%; height: 70%; border-radius: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: white; display: flex; justify-content: center; align-items: center;
                .grt-content {
                    .grt-title {text-align: center;}
                    .grt-value {text-align: center; font-weight: bold; font-size: 20px;}
                }
            }
        }        
    }
    .gr-legend {
        @media (min-width:0) {max-height: auto; width: 100%;}
        @media (min-width:1000px) {max-height: 460px; width: calc(50% - 15px);}
        overflow-y: auto;
        .grl-item {
            display: flex; align-items: center; margin-bottom: 5px; transition-duration: 0.3s; opacity: 0;
            &.active {opacity: 1;}
            .grl-mark {width: 10px; height: 10px; border-radius: 5px; margin-inline-end: 5px;}
            .grl-title {font-size: 14px;}
        }
    }
}

// area (classic)
.graph-area {
    .ga-params {
        display: flex; margin-bottom: 15px;
        .ga-param {
            display: flex; align-items: center; 
            .gap-title {margin-inline-end: 10px;}
            .gap-value {
                height: 30px;
                .selectwrap {height: 100%;}
            }
        }
    }
    .ga-main {
        @media (min-width:0) {height: 200px;}
        @media (min-width:1000px) {height: 300px;}
        display: flex; flex-direction: column;
        .ga-max {text-align: right; font-size: 12px; margin-bottom: 3px;}
        .ga-graph {
            flex: 1; overflow: hidden; border-bottom: 1px var(--color-grey4) solid; border-top: 1px var(--color-grey4) dashed; 
            svg {
                width: 100%; height: 100%;                
                polyline.line {fill: none; stroke-width: 3;}  
                polyline.area {
                    stroke-width: 0; opacity: 0; transition: 0s;
                    &.active {opacity: 1; transition: 0.3s;}
                }  
            }
        }
        .ga-x {
            display: flex; justify-content: space-between; font-size: 10px; margin-top: 3px;
            .gax-item {width: 1px; display: flex; justify-content: center;}
        }
    }
}
