<ul class="de-tabs">
    <li class="params" [class.active]="tab === 1" (click)="tab = 1;"><span>{{thelang.words['articles-tab-main']}}</span></li>
    <li class="seo" [class.active]="tab === 2" (click)="tab = 2;"><span>{{thelang.words['articles-tab-seo']}}</span></li>
</ul>

<!-- tab 1 -->
<ng-container *ngIf="tab === 1">
    <div class="de-head b-margined3">{{thelang.words['articles-tab-main']}}</div>    
    <div class="b-margined3">
        <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
    </div>
    <div class="generic-form">
        <div class="gf-param b-margined3" *ngIf="x.id">
            <div class="gfp-title b-margined1"><label>ID</label></div>
            <div class="gfp-inputwrap"><input class="small" type="text" [value]="x.id" disabled></div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('cat_id')">{{thelang.words['articles-cat']}}</label></div>
            <div class="gfp-inputwrap">
                <div class="inputwithbtns">
                    <select-simple [(value)]="x.cat_id" field="name" sortBy="pos" entity="articleCat" [multilang]="true" [useSearch]="true" [useNull]="true" [error]="errors.cat_id"></select-simple>
                    <div *ngIf="x.cat_id" class="iwb-btns"><a class="roundbtn link" target="_blank" href="/articles/cats/edit/{{x.cat_id}}"><span></span></a></div>
                </div>
            </div>
            <div class="gfp-error" *ngIf="errors.cat_id">{{thelang.words[errors.cat_id]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label>{{thelang.words['articles-date']}}</label></div>
            <div class="gfp-inputwrap"><timestamp-picker [(value)]="x.date"></timestamp-picker></div>            
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('name')">{{thelang.words['articles-name']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input type="text" [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).name" (keyup)="selectedLang.slugable && buildSlug(x.translation(selectedLang.id).name)" [class.error]="errors.name"></div>            
            <div class="gfp-error" *ngIf="errors.name">{{thelang.words[errors.name]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('content')">{{thelang.words['articles-content']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><text-editor [dir]="selectedLang.dir" [(value)]="x.translation(selectedLang.id).content" [error]="errors.content"></text-editor></div>           
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('contentshort')">{{thelang.words['articles-contentshort']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><textarea [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).contentshort" [class.error]="errors.contentshort"></textarea></div>    
            <div class="gfp-error" *ngIf="errors.contentshort">{{thelang.words[errors.contentshort]}}</div>           
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('img')">{{thelang.words['articles-img']}}</label></div>
            <div class="gfp-inputwrap"><image-picker folder="articles" [(img)]="x.img" [error]="errors.img"></image-picker></div>
            <div class="gfp-error" *ngIf="errors.img">{{thelang.words[errors.img]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label>{{thelang.words['articles-active']}}</label></div>
            <div class="gfp-inputwrap"><check-box [(value)]="x.active"></check-box></div>
        </div>
        <div class="gf-param">
            <div class="gfp-title b-margined1"><label>{{thelang.words['articles-in-gal']}}</label></div>
            <div class="gfp-inputwrap"><check-box [(value)]="x.in_gal"></check-box></div>
        </div>
    </div>    
</ng-container>

<!-- tab 2 -->
<ng-container *ngIf="tab === 2">
    <div class="de-head b-margined3">{{thelang.words['articles-tab-seo']}}</div>
    <div class="b-margined3">
        <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
    </div>
    <div class="generic-form">
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('slug')">{{thelang.words['articles-slug']}}</label></div>
            <div class="gfp-inputwrap"><input type="text" [(ngModel)]="x.slug" [disabled]="x.defended" [class.error]="errors.slug"></div>
            <div class="gfp-error" *ngIf="errors.slug">{{thelang.words[errors.slug]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('title')">{{thelang.words['articles-title']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).title" [class.error]="errors.title"></div>    
            <div class="gfp-error" *ngIf="errors.title">{{thelang.words[errors.title]}}</div>        
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('description')">{{thelang.words['articles-description']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).description" [class.error]="errors.description"></div> 
            <div class="gfp-error" *ngIf="errors.description">{{thelang.words[errors.description]}}</div>           
        </div>
        <div class="gf-param">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('h1')">{{thelang.words['articles-h1']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).h1" [class.error]="errors.h1"></div>    
            <div class="gfp-error" *ngIf="errors.h1">{{thelang.words[errors.h1]}}</div>      
        </div>
    </div>    
</ng-container>
