.stats-totals {
    .st-item {
        display: flex; justify-content: space-between; padding: 10px;
        &:nth-child(even) {background-color: var(--color-highlight1);}
        .st-title {font-size: 16px; margin-inline-end: 5px;}
        .st-value {font-weight: bold; font-size: 16px;}
    }
}