<ul class="de-tabs">
    <li class="params" [class.active]="tab === 1" (click)="tab = 1;"><span>{{thelang.words['pages-tab-main']}}</span></li>
    <li class="seo" [class.active]="tab === 2" (click)="tab = 2;"><span>{{thelang.words['pages-tab-seo']}}</span></li>
    <li class="words" [class.active]="tab === 3" (click)="tab = 3;"><span>{{thelang.words['pages-tab-words']}}</span></li>
</ul>

<!-- tab 1 -->
<ng-container *ngIf="tab === 1">
    <div class="de-head b-margined3">{{thelang.words['pages-tab-main']}}</div>    
    <div class="b-margined3">
        <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
    </div>
    <div class="generic-form">
        <div class="gf-param b-margined3" *ngIf="x.id">
            <div class="gfp-title b-margined1"><label>ID</label></div>
            <div class="gfp-inputwrap"><input class="small" type="text" [value]="x.id" disabled></div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('name')">{{thelang.words['pages-name']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input type="text" [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).name" (keyup)="selectedLang.slugable && buildSlug(x.translation(selectedLang.id).name)" [class.error]="errors.name"></div>            
            <div class="gfp-error" *ngIf="errors.name">{{thelang.words[errors.name]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('content')">{{thelang.words['pages-content']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><text-editor [dir]="selectedLang.dir" [(value)]="x.translation(selectedLang.id).content" [error]="errors.content"></text-editor></div>           
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('img')">{{thelang.words['pages-img']}}</label></div>
            <div class="gfp-inputwrap"><image-picker folder="pages" [(img)]="x.img" [error]="errors.img"></image-picker></div>
            <div class="gfp-error" *ngIf="errors.img">{{thelang.words[errors.img]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('parent_id')">{{thelang.words['pages-parent']}}</label></div>
            <div class="gfp-inputwrap">
                <div class="inputwithbtns">
                    <select-simple [(value)]="x.parent_id" field="name" entity="page" sortBy="pos" [cantSelectByArray]="[x.id]" [multilang]="true" [useSearch]="false" [useNull]="true" [error]="errors.parent_id"></select-simple>
                    <div *ngIf="x.parent_id" class="iwb-btns"><a class="roundbtn link" target="_blank" href="/pages/edit/{{x.parent_id}}"><span></span></a></div>
                </div>
            </div>
            <div class="gfp-error" *ngIf="errors.parent_id">{{thelang.words[errors.parent_id]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label>{{thelang.words['pages-pos']}}</label></div>
            <div class="gfp-inputwrap"><input class="small" type="number" [(ngModel)]="x.pos"></div>    
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label>{{thelang.words['pages-active']}}</label></div>
            <div class="gfp-inputwrap"><check-box [(value)]="x.active" [disabled]="x.defended"></check-box></div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label>{{thelang.words['pages-menumain']}}</label></div>
            <div class="gfp-inputwrap"><check-box [(value)]="x.menumain" [disabled]="x.defended"></check-box></div>
        </div>
        <div class="gf-param">
            <div class="gfp-title b-margined1"><label>{{thelang.words['pages-menufoot']}}</label></div>
            <div class="gfp-inputwrap"><check-box [(value)]="x.menufoot" [disabled]="x.defended"></check-box></div>
        </div>
    </div>    
</ng-container>

<!-- tab 2 -->
<ng-container *ngIf="tab === 2">
    <div class="de-head b-margined3">{{thelang.words['pages-tab-seo']}}</div>
    <div class="b-margined3">
        <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
    </div>
    <div class="generic-form">
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('slug')">{{thelang.words['pages-slug']}}</label></div>
            <div class="gfp-inputwrap"><input type="text" [(ngModel)]="x.slug" [disabled]="x.defended" [class.error]="errors.slug"></div>
            <div class="gfp-error" *ngIf="errors.slug">{{thelang.words[errors.slug]}}</div>
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('title')">{{thelang.words['pages-title']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).title" [class.error]="errors.title"></div>    
            <div class="gfp-error" *ngIf="errors.title">{{thelang.words[errors.title]}}</div>        
        </div>
        <div class="gf-param b-margined3">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('description')">{{thelang.words['pages-description']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).description" [class.error]="errors.description"></div> 
            <div class="gfp-error" *ngIf="errors.description">{{thelang.words[errors.description]}}</div>           
        </div>
        <div class="gf-param">
            <div class="gfp-title b-margined1"><label [class.required]="isRequired('h1')">{{thelang.words['pages-h1']}} ({{selectedLang.slug}})</label></div>
            <div class="gfp-inputwrap"><input [dir]="selectedLang.dir" type="text" [(ngModel)]="x.translation(selectedLang.id).h1" [class.error]="errors.h1"></div>    
            <div class="gfp-error" *ngIf="errors.h1">{{thelang.words[errors.h1]}}</div>      
        </div>
    </div>    
</ng-container>

<!-- tab 3 -->
<ng-container *ngIf="tab === 3">
    <div class="de-head b-margined3">{{thelang.words['pages-tab-words']}}</div>
    <div class="b-margined3">
        <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
    </div>
    <!-- btns --> 
    <div class="de-dash b-margined3">
        <div class="ded-btn roundbtn violet create" [title]="thelang.words['common-create']" (click)="wordsAdd()"><span></span></div>
    </div>
    <!-- list -->
    <div class="list inner b-margined3">
        <div class="l-wrap">
            <table>
                <tr class="no-selection">            
                    <th><label [class.sorted-forward]="wordsSortBy === 'mark' && wordsSortDir === 1" [class.sorted-backward]="wordsSortBy === 'mark' && wordsSortDir === -1" (click)="wordsChangeSorting('mark');">{{thelang.words['pages-words-mark']}}</label></th>
                    <th>{{thelang.words['pages-words-text']}} ({{selectedLang.slug}})</th>
                    <th>{{thelang.words['pages-words-note']}}</th>
                    <th><label [class.sorted-forward]="wordsSortBy === 'pos' && wordsSortDir === 1" [class.sorted-backward]="wordsSortBy === 'pos' && wordsSortDir === -1" (click)="wordsChangeSorting('pos');">{{thelang.words['pages-words-pos']}}</label></th>            
                    <th>{{thelang.words['common-actions']}}</th>
                </tr>  
                <ng-container *ngIf="x.words.length">
                    <tr *ngFor="let w of x.words; let i = index;">            
                        <td><input type="text" [(ngModel)]="w.mark"></td>
                        <td>
                            <div class="inputwithbtns">
                                <input type="text" [dir]="selectedLang.dir" [(ngModel)]="w.translation(selectedLang.id).text">
                                <div class="iwb-btns">
                                    <div class="roundbtn editor" [title]="thelang.words['common-editor']" (click)="eeBind(w.translation(selectedLang.id), 'text');"><span></span></div>
                                </div>
                            </div>                      
                        </td>
                        <td><input type="text" [(ngModel)]="w.note"></td>
                        <td><input class="small" type="number" [(ngModel)]="w.pos"></td>            
                        <td>
                            <div class="l-actions">                    
                                <div class="roundbtn danger delete" [title]="thelang.words['common-delete']" (click)="wordsDelete(i);"><span></span></div>
                            </div>
                        </td>
                    </tr>                            
                </ng-container>
                <ng-container *ngIf="!x.words.length">
                    <tr><td>{{thelang.words['common-empty']}}</td></tr>
                </ng-container>  
            </table>
        </div>
    </div>
    <!-- btns --> 
    <div class="de-dash">
        <div class="ded-btn roundbtn violet create" [title]="thelang.words['common-create']" (click)="wordsAdd()"><span></span></div>
    </div>
</ng-container>
        
<extra-editor [(active)]="eeActive" [data]="eeData" (dataChange)="eeApply($event);" [dir]="selectedLang.dir"></extra-editor>     
