<div class="page-head">    
    <div class="ph-title">
        <div class="ph-h1">{{thelang.words["home-head"]}}</div>
        <div class="ph-h2">{{thelang.words["home-subhead"]}}</div>    
    </div>    
</div>
<div class="page-content">
    <div class="h-panels wide">
        <div class="h-panel">
            <h2>{{thelang.words["stats-um"]}}</h2>
            <div class="hp-content">
                <stats-users-monthly></stats-users-monthly>
            </div>
        </div>
        <div class="h-panel">
            <h2>{{thelang.words["stats-ac"]}}</h2>
            <div class="hp-content">
                <stats-cats></stats-cats>
            </div>
        </div>    
        <div class="h-panel">
            <h2>{{thelang.words["stats-pm"]}}</h2>
            <div class="hp-content">
                <stats-payments></stats-payments>
            </div>
        </div>    
        <div class="h-panel">
            <h2>{{thelang.words["stats-totals"]}}</h2>
            <div class="hp-content">
                <stats-totals></stats-totals>
            </div>
        </div>
    </div>
</div>
