<div class="generic-form">
    <div class="gf-param b-margined3" *ngIf="x.id">
        <div class="gfp-title b-margined1"><label>ID</label></div>
        <div class="gfp-inputwrap"><input class="small" type="text" [value]="x.id" disabled></div>
    </div>
    <div class="gf-param b-margined3" *ngIf="x.id">
        <div class="gfp-title b-margined1"><label>{{thelang.words['complaints-created-at']}}</label></div>
        <div class="gfp-inputwrap"><input type="text" [value]="x.formattedDate('created_at', true)" disabled></div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label>{{thelang.words['complaints-author']}}</label></div>
        <div class="gfp-inputwrap">
            <div class="inputwithbtns">
                <input type="text" [value]="x.author?.email" disabled>
                <div *ngIf="x.author_id" class="iwb-btns"><a class="roundbtn link" target="_blank" href="/catalogue/users/edit/{{x.author_id}}"><span></span></a></div>
            </div>
        </div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label>{{thelang.words['complaints-breaker']}}</label></div>
        <div class="gfp-inputwrap">
            <div class="inputwithbtns">
                <input type="text" [value]="x.breaker?.email" disabled>
                <div *ngIf="x.breaker_id" class="iwb-btns"><a class="roundbtn link" target="_blank" href="/catalogue/users/edit/{{x.breaker_id}}"><span></span></a></div>
            </div>
        </div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('content')">{{thelang.words['complaints-content']}}</label></div>
        <div class="gfp-inputwrap"><textarea [(ngModel)]="x.content" [class.error]="errors.content"></textarea></div>    
        <div class="gfp-error" *ngIf="errors.content">{{thelang.words[errors.content]}}</div>           
    </div>
</div>
