<div class="b-margined3">
    <radio-by-entity [items]="ll" [(value)]="selectedLang" visibleField="slug" [title]="thelang.words['common-lang']+':'"></radio-by-entity>
</div>
<div class="generic-form">
    <div class="gf-param b-margined3" *ngIf="x.id">
        <div class="gfp-title b-margined1"><label>ID</label></div>
        <div class="gfp-inputwrap"><input class="small" type="text" [value]="x.id" disabled></div>
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('name')">{{thelang.words['mailtemplates-name']}}</label></div>
        <div class="gfp-inputwrap"><input type="text" [(ngModel)]="x.name" [class.error]="errors.name"></div>   
        <div class="gfp-error" *ngIf="errors.name">{{thelang.words[errors.name]}}</div>         
    </div>
    <div class="gf-param b-margined3">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('subject')">{{thelang.words['mailtemplates-subject']}} ({{selectedLang.slug}})</label></div>
        <div class="gfp-inputwrap"><input type="text" [dir]="selectedLang.dir" [(ngModel)]="x.translation(selectedLang.id).subject" [class.error]="errors.subject"></div>   
        <div class="gfp-error" *ngIf="errors.subject">{{thelang.words[errors.subject]}}</div>                 
    </div>
    <div class="gf-param">
        <div class="gfp-title b-margined1"><label [class.required]="isRequired('content')">{{thelang.words['mailtemplates-content']}} ({{selectedLang.slug}})</label></div>
        <div class="gfp-inputwrap"><textarea [(ngModel)]="x.translation(selectedLang.id).content" [class.error]="errors.content"></textarea></div>    
        <div class="gfp-error" *ngIf="errors.content">{{thelang.words[errors.content]}}</div>           
    </div>
</div>
